- if flash[:alert]
  .ui.negative.message
    %i.close.icon
    .header= flash[:alert]
  %script
    $('.message').fadeOut(2000)
- if notice
  .ui.positive.message
    %i.close.icon
    .header= notice
  %script
    $('.message').fadeOut(2000)

.ui.inverted.menu
  .item
    - if Registration.any?
      %i.lock.icon
      Registration (attached)
    - else
      %i.unlock.icon
      Registration (detached)

- if @registration and @registration.errors.any?
  %div{ :id => "error_explanation" }
    %h2 
      = pluralize(@registration.errors.count, "error") 
      prohibited this registration from being saved:
    %ul
    - @registration.errors.full_messages.each do |message|
      %li 
        = message

= render "registrations/form", registration: @registration, readonly: true

